.test{
 width:75%;
overflow:hidden; 
margin: auto;
-webkit-box-shadow: 6px 10px 28px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 10px 28px -4px rgba(0,0,0,0.75);
box-shadow: 6px 10px 28px -4px rgba(0,0,0,0.75);
}
ul{
    padding: 15px;
}
